<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <title>LAB</title>
  </head>
  <body>
    <div class="container-fluid">

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   id="svg8"
   version="1.1"
   viewBox="0 0 492 316"
   width="100%"
   height="292">
  <defs
     id="defs2" />
  <g
     transform="translate(0,19)"
     id="layer1">
    <g
       transform="translate(-0.69805301,11.906115)"
       id="g152">
      <path
         style="fill:#999999;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-opacity:1"
         d="M 80.656999,23.702541 0.98993333,236.11108 130.28194,284.60569 151.18421,228.87605 92.589608,206.89845 151.35355,50.215252 Z"
         id="path144" />
      <path
         style="fill:#999999;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-opacity:1"
         d="M 191.45785,-26.194887 105.40758,200.66482 h 71.42547 l 7.48431,-20.40629 h 68.70234 l 7.48345,20.40629 h 71.42547 L 245.87835,-26.194887 Z"
         id="path140" />
      <path
         style="fill:#FFFFFF;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-opacity:1"
         d="m 218.66709,90.464815 15.30644,39.795715 h -30.60944 z"
         id="path904" />
      <path
         style="fill:#999999;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-opacity:1"
         d="m 390.34099,-30.439465 c -2.88424,-0.02348 -5.85563,0.127859 -8.91465,0.454715 -9.65729,0.753518 -19.78755,3.140577 -30.38767,7.161973 L 268.04076,8.6642898 348.50894,220.7737 435.00705,187.9586 c 11.87205,-4.50397 22.01315,-10.04809 30.4272,-16.63535 8.54577,-6.87969 15.02068,-14.42985 19.42122,-22.6472 4.53208,-8.50979 7.03159,-17.58397 7.49894,-27.21928 0.46734,-9.6354 -1.22987,-19.54021 -5.0904,-29.716346 -3.37796,-8.904078 -7.61174,-15.90806 -12.7002,-21.010572 -4.87642,-5.182937 -9.66737,-9.184037 -14.37554,-12.005676 -5.58546,-3.21634 -11.27246,-5.424407 -17.06253,-6.623021 2.00286,-3.670024 3.4445,-7.854184 4.3288,-12.55494 0.70161,-3.903899 1.01461,-8.511904 0.94124,-13.819376 -0.15403,-5.519487 -1.51527,-11.66927 -4.08898,-18.4533421 -3.61927,-9.5401033 -8.55745,-17.1258464 -14.81564,-22.7546499 -6.12655,-5.921243 -13.25505,-10.00717 -21.38449,-12.258389 -5.49858,-1.748761 -11.42036,-2.648281 -17.76568,-2.699923 z"
         id="path132" />
      <path
         style="fill:#FFFFFF;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-opacity:1"
         d="m 368.24735,29.085196 c 6.22378,-0.105998 10.66512,3.345968 13.32426,10.355289 3.69967,9.752119 0.25032,16.638471 -10.35013,20.659868 l -7.63045,2.895049 -11.09968,-29.25647 7.6313,-2.895049 c 2.98131,-1.131018 5.68931,-1.717212 8.1247,-1.758687 z"
         id="path126" />
      <path
         style="fill:#FFFFFF;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-opacity:1"
         d="m 403.30079,103.16932 c 7.99093,0.14083 13.51734,4.24577 16.57861,12.31512 4.66484,12.29609 -1.05867,21.50128 -17.17086,27.61383 l -7.63044,2.89505 -13.99473,-36.88778 7.6313,-2.89504 c 5.53857,-2.10119 10.40039,-3.11494 14.58612,-3.04118 z"
         id="path896" />
    </g>
  </g>
</svg>

      <input id="colorL" type="color">
      <input id="colorA" type="color">
      <input id="colorB" type="color">

 
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#rainbow" role="tab">Rainbow</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#colorwipe" role="tab" >Pixel Wipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#letterwipe" role="tab">Letter Wipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#random" role="tab">Random</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#randomLetter" role="tab">Random Letter</a>
        </li>               
      </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="rainbow" role="tabpanel">
              <form>
                <br>
                <input type="number" class="form-control" id="rainbowWait" min="1" max="255" value="50">
                <small  class="form-text text-muted">Smaller wait means faster animation.</small>
                <br>
                <button type="button" class="btn btn-primary btn-block" id="rainbowStart">Start</button>
              </form>
            </div>
            <div class="tab-pane fade" id="colorwipe" role="tabpanel" >
              <form>
                <br>
                <input type="number" class="form-control" id="colorWipeWait" min="1" max="255" value="50">
                <small id="waitHelp" class="form-text text-muted">Smaller wait means faster animation.</small>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                      <input id="colorWipe1" type="color"/> <br>
                      <small class="form-text text-muted">First color.</small>      
                    </div>
                    <div class="col-sm-4">
                      <input id="colorWipe2" type="color"/> <br>
                      <small class="form-text text-muted">Second color.</small>
                    </div>
                    <div class="col-sm-4">
                      <input id="colorWipe3" type="color"/> <br>
                      <small class="form-text text-muted">Third color.</small>
                    </div>
                </div>  
                <br>              
                <button type="button" class="btn btn-primary btn-block" id="colorWipeStart">Start</button>
              </form>              

            </div>
            <div class="tab-pane fade" id="letterwipe" role="tabpanel">
              <form>
                <br>
                <input type="number" class="form-control" id="letterWipeWait" min="1" max="255" value="50">
                <small class="form-text text-muted">Smaller wait means faster animation. Value (milliseconds) is multiplied by 4.</small>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                      <input id="letterWipe1" type="color"/> <br>
                      <small id="waitHelp" class="form-text text-muted">First color.</small>      
                    </div>
                    <div class="col-sm-4">
                      <input id="letterWipe2" type="color"/> <br>
                      <small id="waitHelp" class="form-text text-muted">Second color.</small>
                    </div>
                    <div class="col-sm-4">
                      <input id="letterWipe3" type="color"/> <br>
                      <small id="waitHelp" class="form-text text-muted">Third color.</small>
                    </div>
                </div>  
                <br> 
                <button type="button" class="btn btn-primary btn-block" id="letterWipeStart">Start</button>
              </form>              
            </div>
            <div class="tab-pane fade" id="random" role="tabpanel">
              <form>
                <br>
                <input type="number" class="form-control" id="randomWait" min="1" max="255" value="50">
                <small class="form-text text-muted">Smaller wait means faster animation.</small>
                <br> 
                <button type="button" class="btn btn-primary btn-block" id="randomStart">Start</button>
              </form>              
            </div>  
            <div class="tab-pane fade" id="randomLetter" role="tabpanel">
              <form>
                <br>
                <input type="number" class="form-control" id="randomLetterWait" min="1" max="255" value="50">
                <small class="form-text text-muted">Smaller wait means faster animation.</small>
                <br> 
                <button type="button" class="btn btn-primary btn-block" id="randomLetterStart">Start</button>
              </form>              
            </div>                       

      </div>      

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script>
      var device_id = "2e0026000847343232363230";
      var pathMap = {
        "L" : ['path144'],
        "A" : ['path140'],
        "B" : ['path132']
      };

      $().ready(function() {
        console.log("ready. go change the world.");

        checkToken();

        Object.keys(pathMap).forEach(key => {
          $('#color'+key).hide();

          pathMap[key].forEach(path => {
            $('#' + path).click(() => {
              var pickerId = '#color' + key;
              $(pickerId).click();
            })
          });

          $('#color'+key).change(() => {
            var newStyle = "fill:"+$('#color'+key).val()+";fill-opacity:1;fill-rule:nonzero;stroke:none";
            pathMap[key].forEach(path => {
              $('#'+path).attr("style", newStyle);
            });

            if (localStorage.access_token)
              sendUpdate(get01ColorCommand());
            else
              console.log("No access_token!");

          });

        });

        $('#rainbowStart').click(function() {
          var command = get02RainbowCommand(parseInt($('#rainbowWait').val(), 10));
          sendUpdate(command);
        }); 

        $('#colorWipeStart').click(function() {
          var colors = ['#colorWipe1', '#colorWipe2', '#colorWipe3'].map(element => {
            return $(element).val().substring(1);
          });

          var command = get03ColorWipeCommand(parseInt($('#colorWipeWait').val(), 10), colors);
          sendUpdate(command);
        });         

        $('#letterWipeStart').click(function() {
          var colors = ['#letterWipe1', '#letterWipe2', '#letterWipe3'].map(element => {
            return $(element).val().substring(1);
          });

          var command = get04LetterWipeCommand(parseInt($('#letterWipeWait').val(), 10), colors);
          sendUpdate(command);
        }); 

        $('#randomStart').click(function() {
          var command = get05RandomCommand(parseInt($('#randomWait').val(), 10));
          sendUpdate(command);
        }); 

        $('#randomLetterStart').click(function() {
          var command = get06RandomLetterCommand(parseInt($('#randomLetterWait').val(), 10));
          sendUpdate(command);
        });                 


      });

      function sendUpdate(command)
      {
        console.log("update");
        var options = {
          api_base : "https://api.particle.io",
          device_id : "2e0026000847343232363230"
        };

        var url = options.api_base + "/v1/devices/"+options.device_id+"/mode";
        console.log("POST", url, command);
        $.ajax({
          type: "POST",
          url :  url,
          data : {
            args : command,
            access_token : localStorage.access_token
          },
          success : function (data, textStatus, jqXHR )
          {
            console.log(data);
          },
          error : function (jqXHR, textStatus, errorThrown)
          {
            console.log(errorThrown);
          }
        })
      } 

      function get01ColorCommand()
      {
        var command = "01"; //set color
        Object.keys(pathMap).forEach(key => {
          command += ($('#color'+key).val()).substring(1);
        });

        console.log("ColorCommand is: " + command);
        return command;
      }


      function get02RainbowCommand(wait)
      {
        if (wait < 0 || wait > 255)
          throw new Error("wait is out of range[0,255]");

        var wait = Number(wait).toString(16);
        wait = (wait.length == 1) ? "0" + wait : wait;
        
        var hexString = "02" + wait;
        return hexString;
      }     

      function get03ColorWipeCommand(wait, colors)
      {
        var wait = Number(wait).toString(16);
        wait = (wait.length == 1) ? "0" + wait : wait;

        var hexString = "03";
        hexString += wait;
        hexString += colors.join('');

        return hexString;
      }

      //wait is multiplied by 2 in particle photon
      function get04LetterWipeCommand(wait, colors)
      {
        var wait = Number(wait).toString(16);
        wait = (wait.length == 1) ? "0" + wait : wait;

        var hexString = "04";
        hexString += wait;
        hexString += colors.join('');

        return hexString;
      }

      function get05RandomCommand(wait)
      {
        var wait = Number(wait).toString(16);
        wait = (wait.length == 1) ? "0" + wait : wait;

        var hexString = "05";
        hexString += wait;
        return hexString;
      }  

      function get06RandomLetterCommand(wait)
      {
        var wait = Number(wait).toString(16);
        wait = (wait.length == 1) ? "0" + wait : wait;

        var hexString = "06";
        hexString += wait;
        return hexString;
      }           





      function checkToken()
      {
        if (!localStorage.access_token)
        {
          var access_token = prompt("Please enter the particle API token:", "");
          if (access_token != null)
            localStorage.access_token = access_token;
        }
        else
        {
          console.log("Access Token found!");
        }
      }


    </script>

  </body>
</html>